* {
  /* outline: 1px solid orchid; */
  
}

/* -------------------------------------------------- */
 /* app level  */
.app {
  padding: 5% 10% 5% 10%;
}

/* -------------------------------------------------- */
/* CardsFilterBar component  */
/* includes : .input, div, select  */

.filter-bar form{
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 40% 20% 40%;
  height: 4em;
  margin: 4em auto;
}

.filter-bar input {
  grid-column: 1;
  grid-row: 1;
  width: 100%;
  height: 2em;
  font-size: 1.2em;
  padding-left: 0.5em;
  border: none;
  border-bottom: 3px solid lightgrey;
  align-self: center;
}

.filter-bar p {
  grid-column: 2;
  grid-row: 1;
  font-size: 2em;
  width: 100%;
  align-self: center;

  justify-self: center;
}

.filter-bar select {
  grid-column: 3;
  grid-row: 1;
  appearance: none;
  border: none;
  font-size: 1.2em;
  background-color: white;
  /* text-align: center; */
}

.filter-bar option {
  
}

/* -------------------------------------  */
/* CardsResults component  */

/* font-family: 'Work Sans', sans-serif; */

.cards-all-results *{
  float: left;
}

.card-preview{
  border: 1px solid lightgray;
  height: 16em;
  width: 16em;
  margin: 1em;
  display: grid;
  grid-template-rows: 3fr 1fr;
  grid-template-columns: 1fr;
  transition: 0.3s;
}

.card-preview:hover {
  box-shadow: 0px 2px 8px 0px rgba(150,150,150,1);
}

.card-preview h4 {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.4em;
  grid-row: 1;
  width: 100%;
  text-align: center;
  align-self: center
}

.card-preview p {
  font-family: 'Work Sans', sans-serif;
  display: block;
  background-color: rgb(224, 224, 224);
  margin: 0;
  padding: 6px;
  overflow-wrap: break-word;
}

/* --------------------------------------------------------------------- */
.card-edit-form{
  position: absolute;
  display: grid;
  border: 1px solid lightgray;
  grid-template-rows: 1fr 5fr;
}

